body {
  font-family: helvetica;
  font-size: 15px;
  margin:0;
  padding:0;
}

#cy {
  width: 98%;
  height: 90%;
  position: absolute;
  left: 10;
  top: 90;
  z-index: 999;
  border-width: 1px;
  border-style:dash;
}

h1 {
  opacity: 0.5;
  font-size: 1em;
}

